body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.container {
    max-width: 870px;
    margin: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
}

.nav-link {
    text-decoration: none;
    color: #BF7506;
    margin-left: 24px;
    line-height: 150%;
}

.nav-link.active {
    font-weight: 700;
}

.header {
    display: flex;
    align-items: center;
    margin-top: 72px;
    margin-bottom: 84px;
}

.header-text {
    margin-left: 27px;
}

.header-strong {
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
}

.header-heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 135%;
    /* or 32px */
    letter-spacing: -0.02em;
    margin-top: 8px;
    margin-bottom: 24px;
}

.header-primary {
    color: #BF7506;
}

.social-list {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.social-item:not(:last-child) {
    margin-right: 16px;
}

.header-links {
    display: flex;
    align-items: center;
}

.cv-download {
    text-decoration: none;
    margin-left: 63px;
    display: flex;
    border-bottom: 2px solid #BF7506;
    padding: 7px;
    color: #211B12;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
}

.cv-text {
    margin-left: 4px;
}